.addtask-container {
  width: fit-content;
  button {
    background: rgb(48, 46, 46);
    height: 2rem;
    width: 2rem;
    color: white;
    outline: none;
    border: none;

    border-radius: 1rem;
  }
}
