.item-container {
  position: relative;
  text-transform: capitalize;
  overflow-y: hidden;
  font-size: 1.5rem;
  background: #f56565;
  color: white;
  height: 22rem;
  aspect-ratio: 4/5;
  border-radius: 0.5rem;
  padding: 1rem 1.25rem 0.25rem 1.25rem;
}

.task-title {
  font-size: 3rem;
}

.task-description {
  word-wrap: break-word;
}

.items-container {
  padding: 12px;
}

.task-bend {
  height: 4rem;
  width: 4rem;
  background: #edf2f7;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 10px 0 0 0;
  background: linear-gradient(
    135deg,
    rgba(212, 18, 18, 1) 50%,
    rgba(237, 242, 247, 1) 50%
  );
}
