.board-container {
  z-index: 1;
  height: auto;

  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  background: #edf2f7;
  border-radius: 1rem;
  word-wrap: break-word;
  .item-container {
    margin: 1.5rem;
  }
}

.no-items {
  text-align: center;
  padding: 2rem;
}

@media (max-width: 640px) {
  .items-wrapper {
    justify-content: center;
  }
}
