.items-wrapper {
  width: clamp(0px, 1000px, 1500px);
  max-height: 80vh;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  color: black;
  border-radius: 0.3rem;
  position: relative;
}

.header-row {
  z-index: 1;
  top: 0px;
  position: sticky;
  background: #2d3748;
  color: white;
}

.items-table-row,
.header-row {
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-remove {
  z-index: 0;
}

.items-table-row:nth-child(even) {
  background: #a0aec0;
}

.items-table-row:nth-child(odd) {
  background: #edf2f7;
}

.items-other-cell-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.items-cell-lp {
  width: 3rem;
  padding: 0.5rem;
}

.items-other-cell-wrapper > .name,
.type,
.description {
  width: 30%;
}

.description {
  --max-lines: 1;
  --line-height: 1.4;
  display: -webkit-box;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  text-align: center;
}

.name,
.type,
.edit-remove {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-items {
  text-align: center;
  padding: 2rem;
}

.header-name,
.header-type,
.header-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.2rem;
}

.header-name svg,
.header-type svg,
.header-description svg {
  margin: 0rem;
  transition: transform 300ms;
}

.arrow-up {
  transform: rorate(0deg);
}

.arrow-down {
  transform: rotate(180deg);
}

svg {
  width: 1rem;
  height: 1rem;
  margin: 0.4rem;
  cursor: pointer;
}

.board-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.search-container svg {
  position: absolute;
  width: 1.5rem;
  height: 2.5rem;
}

.search-container {
  width: 50rem;
}
