.task-container {
  background: #ffba08;
  color: black;
  width: 100%;
  aspect-ratio: 3/1;
  border-radius: 0.5rem;
  padding: 0.75rem 1.75rem 0.25rem 0.75rem;
}

.tasks-container {
  padding: 12px;
}
