@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.box-shadow--bottom {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-weight: bold;

  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.button--blue {
  width: 3rem;
  background: #4299e1;
  &:hover {
    background: #3182ce;
  }
}

.button--red {
  background: #e53e3e;
  &:hover {
    background: #c53030;
  }
}

.button--green {
  background: #48bb78;
  &:hover {
    background: #38a169;
  }
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
