.form-textarea {
  display: block;
  outline: none;
  resize: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #2d3748;
  background: #edf2f7;
  border: none;
  padding: 1rem;
  width: 100%;
}

.input-not-filled {
  outline: 1px solid red;
}

@media (max-width: 640px) {
  .form-textarea {
    height: 15rem;
  }
}
